/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    Margin:0px;
    Padding:0px;
    font-family: 'Poppins', sans-serif;
}
Body{
   Background-color:#1E212D; 
}
.center{
    Position:absolute;
    top:50%;
    left:50%;
    Transform:translate(-50%,-50%);
}
.loader{
    width:255px;
    height:50px;
    border:3px solid #51C4D3;
    Border-radius:10px;
    Display:flex;
    Align-items:center;
    Justify-content:center;
    
}
.inner{
    width:0px;
    height:40px;
    Background:#51C4D3;
    Animation:animate 2s infinite linear;
    
    Position:absolute;
    left:10px;
}
@keyframes animate{
    100%{
        width:245px;
    }
}
H3{
    Text-align:center;
    Margin-top:50px;
    color:#51C4D3;
}
.link-4{ 
 
width:250px;
  font-weight:999;
  height:30px ;
  font-size:15px;
  padding-top:5px;
  border-radius:5px;
 margin-bottom:5vw;
 text-decoration:none;
 Z-index:100; Background-color:rgba(255,255,255,0.04);
Color:white;
Backdrop-filter:blur(3px);
Text-align:center;
Position:absolute;
top:90%;
left:50%;
Transform:translate(-50%,-50%);
Border:2px solid rgba(255,255,255,0.04);
} */

/* @import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&family=Roboto:wght@400;700&display=swap"); */
/* 

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.imgg {
  position: absolute;
  left: 1100px;
  bottom: 500px;
  width: 500px;
  height: 500px;
}

.imggbottom {
  position: absolute;
  right: 1100px;
  top: 500px;
  width: 500px;
  height: 500px;
}

.title {
  font-family: Roboto;
  color: #8b73ff;
  text-align: center;
  margin-top: 200px;
  font-family: Roboto;
  font-size: 25px;
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Supermercado+One&display=swap");

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  overflow: hidden;
  position: relative;
}
.sidebar-image-container {
  background-image: url("/website/static/img/background-image.jpeg");
  background-size: cover;
  background-position-x: 40%;
  border-radius: 0px 11% 11% 0px;
  filter: blur(0.5px) grayscale(60%);
}

.side-image {
  position: absolute;
  height: 300px;
  width: 300px;
  object-fit: cover;
  z-index: 10;
}
.side-image.left {
  bottom: -15%;
  left: -8%;
}
.side-image.right {
  top: -15%;
  right: -8%;
}
.container-box {
  width: 100%;
  padding: 32px;
}
.container {
  max-width: 400px;
  width: 100%;
  height: 100%;
  padding: 12px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container h1 {
  font-size: 36px;
  font-family: "Supermercado One", cursive;
  margin-bottom: 16px;
  color: #8b73ff;
}
/* color: #e1a3ff; */
.inputs {
  width: 100%;
}
.input {
  display: flex;
  flex-direction: column;
  margin: 8px 0px;
}
.input label {
  font-weight: 500;
  font-size: 20px;
}
.input input {
  width: 100%;
  padding: 12px;
  margin: 12px 0px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  outline-color: #8b73ff;
  background: linear-gradient(
    90deg,
    rgba(224, 163, 255, 0.801) 0%,
    rgba(138, 115, 255, 0.753) 100%
  );
  color: white;
}
.input input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.input input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.input input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.controls {
  width: 100%;
}
.controls span {
  width: 100%;
  text-align: right;
  display: block;
  text-decoration: none;
  margin: 4px 0px;
  color: #ec59ff;
  font-size: 14px;
}
.controls .buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
  margin: 12px 0px;
}
.controls .buttons .submit {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  outline: none;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #8b73ff;
  cursor: pointer;
}

/* media query */
@media screen and (max-width: 1200px) {
  .side-image.left {
    bottom: -20%;
    left: -12%;
  }
  .side-image.right {
    top: -20%;
    right: -12%;
  }
}
@media screen and (max-width: 1000px) {
  .side-image.left {
    bottom: -25%;
    left: -16%;
  }
  .side-image.right {
    top: -25%;
    right: -16%;
  }
}
@media screen and (max-width: 900px) {
  .sidebar-image-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    z-index: -1;
    filter: blur(6px) brightness(0.9) opacity(0.9);
    /* opacity: 0.9; */
  }
  .container-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .side-image.left {
    bottom: -30%;
    left: -20%;
  }
  .side-image.right {
    top: -30%;
    right: -20%;
  }
}
